Package: us.sudhip.apod
Name: HSNasaAPOD
Depends: mobilesubstrate, com.dgh0st.hswidgets
Version: 1.3.2
Architecture: iphoneos-arm
Description: HS NASA APOD right on your homescreen! Icons made by Good Ware from www.flaticon.com.
Maintainer: Sudhip Nashi
Author: Sudhip Nashi
Icon: http://ftp.sudhip.com/jbrepo/assets/hsnasaapod.png
Section: Addons (HSWidgets)
