<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Respring/LDRestart to take effect</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>key</key>
			<string>APIKey</string>
			<key>noAutoCorrect</key>
			<true/>
			<key>placeholder</key>
			<string>DEMO_KEY</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>hdEnabled</string>
			<key>label</key>
			<string>Enable HD Downloads</string>
		</dict>

		<dict>
			<key>action</key>
			<string>sendNotification</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Refresh View</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>

		<dict>
			<key>action</key>
			<string>showInfo</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>More Info on Today's APOD</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>v1.3.3 - 2020 Ⓒ sunflsks</string>
			<key>footerAlignment</key>
			<string>1</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>The images shown are not mine.</string>
			<key>footerAlignment</key>
			<string>1</string>
		</dict>

	</array>
	<key>title</key>
	<string>HSNasaAPOD</string>
</dict>
</plist>
