<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>API Key - Respring/LDRestart to take effect</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>key</key>
			<string>APIKey</string>
			<key>noAutoCorrect</key>
			<false/>
			<key>prompt</key>
			<string>https://api.nasa.gov</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>showInfo</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>More Info on Today's APOD</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>sendNotification</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Refresh View</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>2020 Ⓒ sunflsks. These images are not mine</string>
		</dict>
	</array>
	<key>title</key>
	<string>NASA APOD Widget</string>
</dict>
</plist>
